{% extends "base.html" %}

{% block title %}Help Page{% endblock %}

{% block content %}

<h1> Welcome to the help page of our blog</h1>
<p> Here is where you get instruction of our website, we will make sure you get the help you need around!</p>
<p>Welcome again, my name Kevin Mai, I am the blog owner. Currently, our blog is in development, we are implementing
    more functions and features in the near future, it will be just matter of weeks before our blog page
    fill with tons of exciting new features. User authentication is in the process, that will be deployed in the next
    couple of weeks. In the near futures we are building functions of uploading pictures, profile pictures where you
    can share with others with other social media, we are adding comment, like, emoji and other share features.
    This is really exciting! I hope you enjoy our blog services. Very quickly below are some help instruction for
    our blog use.
</p>

<ul>
    <li>Instruction 1, the title filed and content filed cannot be blanked
        you have to enter title on top box and contents button box, after you finish, you can
        simply click on post, your post will be posted. A successful message will be display! </li>
    <li>Instruction 2, you can edit your content by click on Edit keyword after your post, it
    will take you to edit page, you can edit your title and content there. Once you are finished, you can hit the
    Save Changes buttons, your post will be updated and received a successful message</li>
    <li> Instruction 3, you can delete your content by simply click the Delete button, a warning message
    will appear, it will check and confirm if you want to delete the message, you can click on the cancel
        button to cancel the request, or you can click on okay to proceed with cancellation, after deletion,
        you will received message saying it's been deleted, and you hit ok to get back to the home page.
    </li>
</ul>
     <h2>Contact Information</h2>
    <p> if you need further assistance, please contact us:</p>
    <ul>
        <li>Email: maikev@oregonstate.edu</li>
        <li>Phone: 206-760-5558</li>
</ul>
    {% endblock %}
